<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Catchylabs Web|Api Suit">
    <test name="All Tests">
        <classes>
            <class name="runners.ApiRunner"/>
            <class name="runners.WebRunner"/>
            <class name="runners.MobileRunner"></class>
        </classes>
    </test>
</suite>
